*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid whitesmoke;
}
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 5px;
}
.address-icon{
    display: flex;
    align-items: center;
}
.nav-address{
    margin-left: 10px;
}

/*search bar*/

.nav-searchbar{
    display: flex;
    height: 40px;
    width: 560px;
    background-color: #fb8500;
    border-radius: 4px;
    margin-left: 30px;
}
.searchopt{
    border-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
}
.searchbar{
    width: 460px;
}
