*{
    margin: 0;
}

.container{
    background-color: #343a40;
    padding: 20px;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    grid-template-rows: repeat(auto-fit,200px);
    grid-gap:10px;
}

/* header{
    grid-column-start:1 ;
    grid-column-end: 3;
}
aside{
    grid-column-start: 2;
    grid-column-end: 4;
} */

.s{
    padding: 20px;
    background-color: #415a77;
    text-align: center;
    color: #fff;
    
}